<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBwFbIUAZAq3Bm9DU5G5ilV8c9xRcvoKo</string>
	<key>GCM_SENDER_ID</key>
	<string>787326738084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xplore360</string>
	<key>PROJECT_ID</key>
	<string>xplore360p</string>
	<key>STORAGE_BUCKET</key>
	<string>xplore360p.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787326738084:ios:dcc65390ce315fb2fd1031</string>
</dict>
</plist>